<!-- our designs -->
<div class="overflow-hidden">
    <div class="position-relative">
        <h2 class="font-poppins-regular m-0 pt-1 text-center text-uppercase background-color-blue text-white" style="font-size: 50px; line-height: 90%;" id="our-designs-mobile">our designs</h2>
        <h4 class="font-poppins-regular m-0 text-center text-uppercase background-color-blue text-white" style="font-size: 18px;margin-top:-1px !important;">choose your identity</h4>
        <div class="background-color-blue w-100" style="height:70px;border-bottom-right-radius:0px; border-bottom-left-radius:0px;margin-top:-1px;">
        </div>
        <div style="width:275px; height:1445px;margin: 0 auto; top: -55px;" class="position-relative">
            <div class="position-absolute" style="z-index: 15;">
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row" style="justify-content:center;">
                        <div class="col-5 p-0" style="margin-right:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="designed-by-you">
                                    <picture>
                                        <source srcset="../images/designs/Custom.webp" type="image/webp">
                                        <source srcset="../images/designs/Custom.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Custom.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; ">Designed By You</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-You</p>
                        </div>                         
                        <div class="col-5 p-0" style="margin-left:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=iron-man">
                                    <picture>
                                        <source srcset="../images/designs/Iron-Man.webp" type="image/webp">
                                        <source srcset="../images/designs/Iron-Man.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Iron-Man.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Iron Man</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center" style="font-size: 15px; line-height: 90%;">-Richard Eveland</p>
                        </div>
                    </div>
                </div>
                
                <!-- 2nd -->
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row" style="justify-content:center;">
                        <div class="col-5 p-0" style="margin-right:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=funky-skulls">
                                    <picture>
                                        <source srcset="../images/designs/Funky-Skulls.webp" type="image/webp">
                                        <source srcset="../images/designs/Funky-Skulls.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Funky-Skulls.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Funky Skulls</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center" style="font-size: 15px; line-height: 90%;">-Robert W. Chambers</p>
                        </div>                     
                        <div class="col-5 p-0" style="margin-left:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=gears-of-war">
                                    <picture>
                                        <source srcset="../images/designs/Gears-of-War.webp" type="image/webp">
                                        <source srcset="../images/designs/Gears-of-War.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Gears-of-War.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Gears Of War</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-David E. Hunt</p>
                        </div>
                    </div>
                </div>
                <!-- 3rd -->
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row" style="justify-content:center;">
                        <div class="col-5 p-0" style="margin-right:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=dragon-ball-z">
                                    <picture>
                                        <source srcset="../images/designs/Dragon-Ball-Z.webp" type="image/webp">
                                        <source srcset="../images/designs/Dragon-Ball-Z.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Dragon-Ball-Z.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Dragon Ball Z</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center" style="font-size: 15px; line-height: 90%;">-Edward Niro</p>
                        </div>
                        <div class="col-5 p-0" style="margin-left:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=funky-ghost">
                                    <picture>
                                        <source srcset="../images/designs/Funky-Ghost.webp" type="image/webp">
                                        <source srcset="../images/designs/Funky-Ghost.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Funky-Ghost.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Funky Ghost</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-Tsujita Masujiro</p>
                        </div>                                
                    </div>
                </div>
                <!-- 4rd -->
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row" style="justify-content:center;">
                        <div class="col-5 p-0" style="margin-right:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=doodle-lines">
                                    <picture>
                                        <source srcset="../images/designs/doodle-lines.webp" type="image/webp">
                                        <source srcset="../images/designs/doodle-lines.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/doodle-lines.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Doodle Lines</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-Robert W. Chambers</p>
                        </div>
                        <div class="col-5 p-0" style="margin-left:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=game-freak">
                                    <picture>
                                        <source srcset="../images/designs/Game-Freak.webp" type="image/webp">
                                        <source srcset="../images/designs/Game-Freak.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Game-Freak.jpg"  class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Game Freak</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-David E. Hunt</p>
                        </div>
                    </div>
                </div>
                <!-- 5th -->
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row" style="justify-content:center;">
                        <div class="col-5 p-0" style="margin-right:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=call-of-duty">
                                    <picture>
                                        <source srcset="../images/designs/call-of-duty.webp" type="image/webp">
                                        <source srcset="../images/designs/call-of-duty.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/call-of-duty.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Call Of Duty</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-Richard Eveland</p>
                        </div>
                        <div class="col-5 p-0" style="margin-left:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=blue-kaleidoscope">
                                    <picture>
                                        <source srcset="../images/designs/blue-kaleidoscope.webp" type="image/webp">
                                        <source srcset="../images/designs/blue-kaleidoscope.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/blue-kaleidoscope.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Blue Kaleidoscope</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-Tsujita Masujiro</p>
                        </div>
                    </div>
                </div>
                <!-- 6th -->
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row" style="justify-content:center;">   
                        <div class="col-5 p-0" style="margin-right:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=naruto-and-sasuke">
                                    <picture>
                                        <source srcset="../images/designs/naruto-and-sasuke.webp" type="image/webp">
                                        <source srcset="../images/designs/naruto-and-sasuke.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/naruto-and-sasuke.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Naruto And Sasuke</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-Yoshie Akina</p>
                        </div>
                        <div class="col-5 p-0" style="margin-left:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=naruto-shippuden">
                                    <picture>
                                        <source srcset="../images/designs/Naruto-Shippuden.webp" type="image/webp">
                                        <source srcset="../images/designs/Naruto-Shippuden.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Naruto-Shippuden.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Naruto Shippuden</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-Yoshie Akina</p>
                        </div>
                    </div>
                </div>
                <!-- 7th -->
                <div class="container-fluid p-0 pb-4 d-flex justify-content-center align-items-center">
                    <div class="row" style="justify-content:center;">
                        <div class="col-5 p-0" style="margin-right:5px;">
                            <div class="bg-white" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=patriot">
                                    <picture>
                                        <source srcset="../images/designs/Patriot.webp" type="image/webp">
                                        <source srcset="../images/designs/Patriot.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Patriot.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Patriot</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-David E. Hunt</p>
                        </div>                                
                        <div class="col-5 p-0" style="margin-left:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%; border: 1px #2e3192 solid;">
                                <a href="product-page?designName=tokyo-ghoul">
                                    <picture>
                                        <source srcset="../images/designs/Tokyo-Ghoul.webp" type="image/webp">
                                        <source srcset="../images/designs/Tokyo-Ghoul.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Tokyo-Ghoul.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">Tokyo Ghoul</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-Tsujita Masujiro</p>
                        </div>
                    </div>
                </div>
                <!-- 8th -->
                <div class="container-fluid p-0 pb-4 d-flex justify-content-center align-items-center">
                    <div class="row" style="justify-content:center;">
                        <div class="col-5 p-0" style="margin-right:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%;  border: 1px #2e3192 solid;">
                                <a href="product-page?designName=world-war">
                                    <picture>
                                        <source srcset="../images/designs/World-War.webp" type="image/webp">
                                        <source srcset="../images/designs/World-War.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/World-War.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">World War</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-Edward Niro</p>
                        </div>
                        <div class="col-5 p-0" style="margin-left:5px;">
                            <div class="bg-white w-100" style="border-radius: 50%;  border: 1px #2e3192 solid;">
                                <a href="designed-by-you">
                                    <picture>
                                        <source srcset="../images/designs/Custom.webp" type="image/webp">
                                        <source srcset="../images/designs/Custom.jpg" type="image/jpeg">
                                        <img style="border-radius:50%;" src="../images/designs/Custom.jpg" class="w-100">
                                    </picture>
                                </a>
                            </div>
                            <h2 class="font-poppins-bold m-0 pt-1 text-center" style="font-size: 15px; line-height: 90%;">designed by you</h2>
                            <p class="font-poppins-regular m-0 py-2 text-center " style="font-size: 15px; line-height: 90%;">-You</p>
                        </div>
                    </div>
                </div>
            </div>                  
        </div>
    </div>   
</div>
