<!-- our designs -->
<div id="designs" class="overflow-hidden pt-5">
    <div class="position-relative">
        <h2 class="font-poppins-regular m-0 pt-5 text-center text-uppercase background-color-blue text-white" style="font-size: 130px; line-height: 90%;" id="our-designs">our designs</h2>
        <h4 class="font-poppins-regular m-0 text-center text-uppercase background-color-blue text-white" style="font-size: 50px;">choose your identity</h4>
        <div class="background-color-blue w-100" style="height: 110px; border-bottom-right-radius: 60px; border-bottom-left-radius: 60px;">
        </div>
        <div style="width: 850px; height: 1200px;margin: 0 auto; top: -100px;" class="position-relative">
            <div class="position-absolute" style="z-index: 15;">
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=funky-skulls"><img style="border-radius:50%;" src="../images/designs/Funky-Skulls.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Funky Skulls</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Robert W. Chambers</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=iron-man"><img style="border-radius:50%;" src="../images/designs/Iron-Man.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Iron Man</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Richard Eveland</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=gears-of-war"><img style="border-radius:50%;" src="../images/designs/Gears-of-War.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Gears Of War</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-David E. Hunt</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/designed-by-you"><img style="border-radius:50%;" src="../images/designs/Custom.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Designed By You</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-You</p>
                        </div>
                    </div>
                </div>
                <!-- 2nd -->
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=dragon-ball-z"><img style="border-radius:50%;" src="../images/designs/Dragon-Ball-Z.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Dragon Ball Z</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Edward Niro</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=funky-ghost"><img style="border-radius:50%;" src="../images/designs/Funky-Ghost.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Funky Ghost</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Tsujita Masujiro</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=doodle-lines"><img style="border-radius:50%;" src="../images/designs/doodle-lines.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Doodle Lines</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Robert W. Chambers</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=game-freak"><img style="border-radius:50%;" src="../images/designs/Game-Freak.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Game Freak</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-David E. Hunt</p>
                        </div>
                    </div>
                </div>
                <!-- 3rd -->
                <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                    <div class="row">
                        
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=call-of-duty"><img style="border-radius:50%;" src="../images/designs/call-of-duty.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Call Of Duty</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Richard Eveland</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=blue-kaleidoscope"><img style="border-radius:50%;" src="../images/designs/blue-kaleidoscope.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Blue Kaleidoscope</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Tsujita Masujiro</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=naruto-and-sasuke"><img style="border-radius:50%;" src="../images/designs/naruto-and-sasuke.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Naruto And Sasuke</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Yoshie Akina</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=naruto-shippuden"><img style="border-radius:50%;" src="../images/designs/Naruto-Shippuden.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Naruto Shippuden</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Yoshie Akina</p>
                        </div>
                    </div>
                </div>
                <!-- 4th -->
                <div class="container-fluid p-0 pb-4 d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=patriot"><img style="border-radius:50%;" src="../images/designs/Patriot.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Patriot</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-David E. Hunt</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=skull-kaleidoscope"><img style="border-radius:50%;" src="../images/designs/Skull-Kaleidoscope.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Skull Kaleidoscope</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Edward Niro</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=tokyo-ghoul"><img style="border-radius:50%;" src="../images/designs/Tokyo-Ghoul.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">Tokyo Ghoul</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Tsujita Masujiro</p>
                        </div>
                        <div class="col-3 p-0">
                            <div class="bg-white" style="border-radius: 50%; width: 200px; height: 200px; border: 1px #2e3192 solid;"><a href="../products/product-page?designName=world-war"><img style="border-radius:50%;" src="../images/designs/World-War.webp"></a></div>
                            <h2 class="font-poppins-bold m-0 pt-3 text-center" style="font-size: 22px; line-height: 90%;">World War</h2>
                            <p class="font-poppins-regular m-0 py-3 text-center pb-4" style="font-size: 22px; line-height: 90%;">-Edward Niro</p>
                        </div>
                    </div>
                </div>
            </div>                    
            <div class="position-absolute d-flex" style="left: -90px; bottom: -20px; height: 100%;">
                <h2 class="d-flex font-poppins-bold m-0 text-center text-uppercase color-blue" style="font-size: 100px; writing-mode: tb-rl; transform: rotate(180deg);letter-spacing: -2px;">Choose Your Identity</h2>
            </div>
            <div class="position-absolute d-flex" style="left: 50%; bottom: 130px;">
                <h2 class="d-flex font-poppins-bold m-0 text-center text-uppercase color-blue" style="font-size: 156px;">Choose</h2>
            </div>
            <div class="position-absolute d-flex" style="right: -70px; bottom: 400px;">
                <h2 class="d-flex font-poppins-bold m-0 text-center text-uppercase color-blue" style="font-size: 158px; writing-mode: tb-rl; transform: rotate(180deg);">Identity</h2>
            </div>
            <div class="position-absolute shadow-buy-now-button-1 px-2 background-color-yellow" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; top: 100px; right: -200px;">
                <p class="font-poppins-regular m-0 text-center text-uppercase pt-5" style="font-size: 32px; color: #ff0000;">Coupon<br>Code<br>Valid Till</p>
                <p class="font-poppins-bold m-0 text-center text-uppercase pb-4" style="font-size: 64px; color: #ff0000; width: 190px;" id="counter-5">10:00</p>
            </div> 
        </div>
        
    </div>
    
</div>