<nav id="navbar-example2" class="navbar navbar-dark w-100 justify-content-center" style="background-color: #2e3192;">
    <img src="../icons/yellow_logo.svg" style="width: 40px; margin-right: 5px;">
    <a class="navbar-brand font-poppins-bold" style="font-size: 30px; color:#ffea00; margin-right: 150px;" href="/">The Top Controller</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link font-poppins-bold" style="font-size: 16px; color: #ffea00;" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-poppins-bold cursor-pointer" style="font-size: 16px; color: #ffea00;" onclick="window.location = '/#services'">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-poppins-bold cursor-pointer" style="font-size: 16px; color: #ffea00;" onclick="window.location = '/#about'">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-poppins-bold" style="font-size: 16px; color: #ffea00;" href="#designs">Designs</a>
        </li>
        <li class="position-relative nav-item d-flex justify-content-center align-items-center">
            <a class="cart-button nav-link font-poppins-bold text-uppercase shadow-buy-now-button d-flex justify-content-center align-items-center" style="font-size: 16px; background-color: #ffea00; color: #fc1e1e; border-radius: 100px; padding-top: 5px; padding-bottom: 5px;" href="../products/cart">Cart<picture>
                                                <source srcset="../images/cartimage.webp" type="image/webp">
                                                <source srcset="../images/cartimage.png" type="image/png">
                                                <img src="../images/cartimage.png" style="width: 15px; margin-left: 2px;">
                                                </picture></a>
            <div class="position-absolute d-flex justify-content-center align-items-center font-poppins-bold" style="background-color: #ff0000; width: 20px; font-size: 12px; border-radius: 50%; height: 20px; color: white; right: -5px; top: -3px;" id="cart-message-desktop">1</div>
        </li>
        
    </ul>
</nav>