<header>
    <div class="position-fixed h-100 w-100" style=" opacity: 1; backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px); z-index: 16; display: none;" id="drawer">
        <div class="container h-100 w-100 pr-0">
            <div class="row h-100 w-100 mr-0 position-absolute">
                <div class="col-2 d-flex justify-content-end pt-5 pl-0" id="cross">
                    <div id="mobile-cross">
                        <p class="m-0">X</p>
                    </div>
                </div>
                <div class="col-10 position-relative" style="background: #202020 0% 0% no-repeat padding-box;">
                    <div class="position-absolute w-100" style="padding-left: 15px;top:30%;">
                        <p class="footer-text font-weight-light text-center" style="font-size: 24px;margin-bottom: 20px; font-family: europhonic;" onclick="window.location = '/'" >HOME</p>
                        <p class="footer-text font-weight-light text-center" style="font-size: 24px;margin-bottom: 20px; font-family: europhonic;" onclick="window.location = 'witcher'">WITCHER</p>
                        <p class="footer-text font-weight-light text-center" style="font-size: 24px;margin-bottom: 20px; font-family: europhonic;" onclick="window.location = 'pubg'">PUBG</p>
                        <p class="footer-text font-weight-light text-center" style="font-size: 24px;margin-bottom: 20px; font-family: europhonic;" onclick="window.location = 'fortnite'">FORTNITE</p>
                        <p class="footer-text font-weight-light text-center" style="font-size: 24px;margin-bottom: 20px; font-family: europhonic;" onclick="window.location = 'pages/contact'">CONTACT US</p>
                    </div>
                    <div class="position-absolute w-100" style="padding-left: 15px;top:80%;">
                        <p class="footer-text font-weight-light text-center" style="font-size: 16px;margin-bottom: 20px;" onclick="window.location = 'pages/refund-policy'">REFUND POLICY</p>
                        <p class="footer-text font-weight-light text-center" style="font-size: 16px;margin-bottom: 20px;" onclick="window.location = 'pages/new-cookies'">HELP & SUPPORT</p>
                    </div>
                    
                </div>
                
            </div>
            

        </div>
        
    </div>

    <div class="nav-container">
        <div id="mobile-navbar"></div>
        <div style="position: fixed; z-index: 10; right:16px; margin-top: 20px; z-index:15 !important;" id="open-drawer">
            <hr style="width: 30px; height: 4px; background-color: white;border-radius: 100px;  margin: 0px;">
            <hr style="width: 30px; height: 4px; background-color: white; margin-top: 3px; margin-bottom: 0px; border-radius: 100px;">
            <hr style="width: 18px; height: 4px; background-color: white; margin-top: 3px; margin-bottom: 0px; border-radius: 100px; margin-left: 0px;">
        </div>
        <div class="d-flex position-fixed align-items-center w-100" style="z-index: 10; margin-top: 10px; margin-left:16px;">
            <img class="logo-header" src="images/Top Controllers Logo.svg" alt="" style="width: 30px;">
            <a class="navbar-brand header-text" id="mobile-header-logo-text" style="font-size: 18px;" href="/">THE TOP CONTROLLER</a>
        </div>
    </div>
    
</header>