
<div id="install">
    <!-- how to install -->
    <div class="position-relative" style="width: 1000px; height: 800px; margin: 0 auto;">
        <h2 class="w-100 font-poppins-extrabold m-0 text-center text-uppercase color-yellow" style="font-size: 92px;line-height: 63px;">How to install?</h2>
        <hr class="background-color-yellow" style="margin: 0 auto;width: 812px; height: 25px; border-width: 0px;">
        <div class="position-relative">
            <div class="background-color-yellow shadow-buy-now-button-1" style="margin: 0 auto;width: 812px; height: 650px; border-radius: 220px;"></div>
            <div class="position-absolute h-center" style="top: 0px;">
                <div class="d-flex justify-content-center" style="width: 1000px; margin: 0 auto;">
                    <!-- <img class="installation" src="../images\installation-step-1.webp" data-video="https://www.youtube.com/embed/zaRBvOAtGQA?autoplay=1" width="500" height="281"> -->
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/zaRBvOAtGQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                    <!-- <video width="500" height="281" controls>
                        <source src="../videos/Xbox OneController Skins.mp4" type="video/mp4">
                    </video>
                    <video width="500" height="281" controls>
                        <source src="../videos/PS4 Skin.mp4" type="video/mp4">
                    </video> -->
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/aBler_FC5DA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <img class="installation" src="../images\installation-step-2.webp" data-video="https://www.youtube.com/embed/aBler_FC5DA?autoplay=1" width="500" height="281"> -->
                </div>
                <div class="d-flex justify-content-center pb-5 mb-5" style="width: 1000px; margin: 0 auto;">
                    <!-- <video width="500" height="281" controls>
                        <source src="../videos/PS4 SlimSkin.mp4" type="video/mp4">
                    </video>
                    <video width="500" height="281" controls>
                        <source src="../videos/Nintendo Switch Skin Removal.mp4" type="video/mp4">
                    </video> -->
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/8mPij0aqx54" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/a3vuafH-Yvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                    <!-- <img class="installation" src="../images\installation-step-3.webp" data-video="https://www.youtube.com/embed/8mPij0aqx54?autoplay=1" width="500" height="281"> -->
                    <!-- <img class="installation" src="../images\installation-step-4.webp" data-video="https://www.youtube.com/embed/a3vuafH-Yvs?autoplay=1" width="500" height="281"> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    $('.installation').click(function(){
        video = '<iframe src="'+ $(this).attr('data-video') +'" width="500" height="281" style="border: 0px;" allowfullscreen></iframe>';
        $(this).replaceWith(video);
    });
</script> -->