<div id="install">
    <!-- how to install  -->
    <div class="position-relative" style="width:280px;height:730px;margin: 0 auto;padding-top: 20px;">
        <h2 class="w-100 font-poppins-extrabold m-0 text-center text-uppercase color-yellow" style="font-size: 30px; line-height: 20px;">How to install?</h2>
        <hr class="background-color-yellow" style="margin: 0 auto;width: 280px; height: 15px; border-width: 0px;">
        <div class="position-relative">
            <div class="background-color-yellow shadow-buy-now-button-1" style="margin: 0 auto;width: 280px; height: 645px; border-radius: 50px;"></div>
            <div class="position-absolute h-center" style="top: 0px;">
                <div class="container-fluid" style="width: 320px; margin: 0 auto;">
                    <div class="row" >
                        <div class="col-12 p-0">
                            <!-- <img class="installation" src="images\installation-step-1.webp" data-video="https://www.youtube.com/embed/zaRBvOAtGQA?autoplay=1" width="100%" height="100%"> -->
                            <!-- <video width="100%" height="90" controls>
                                <source src="videos/Xbox OneController Skins.mp4" type="video/mp4">
                            </video> -->
                            <iframe width="90%" height="100%" src="https://www.youtube.com/embed/zaRBvOAtGQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="
                            margin-left:17px;"></iframe>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-12 p-0">
                            <!-- <img class="installation" src="images\installation-step-2.webp" data-video="https://www.youtube.com/embed/aBler_FC5DA?autoplay=1" width="100%" height="100%"> -->
                            <!-- <video width="100%" height="90" controls>
                                <source src="videos/PS4 Skin.mp4" type="video/mp4">
                            </video> -->
                            <iframe width="90%" height="100%" src="https://www.youtube.com/embed/aBler_FC5DA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="
                            margin-left:17px;"></iframe>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <!-- <img class="installation" src="images\installation-step-3.webp" data-video="https://www.youtube.com/embed/8mPij0aqx54?autoplay=1" width="100%" height="100%"> -->
                            <!-- <video width="100%" height="90" controls>
                                <source src="videos/PS4 SlimSkin.mp4" type="video/mp4">
                            </video> -->
                            <iframe width="90%" height="100%" src="https://www.youtube.com/embed/8mPij0aqx54" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="
                            margin-left:17px;"></iframe>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-12 p-0">
                            <!-- <img class="installation" src="images\installation-step-4.webp" data-video="https://www.youtube.com/embed/a3vuafH-Yvs?autoplay=1" width="100%" height="100%"> -->
                            <!-- <video width="100%" height="90" controls>
                                <source src="videos/Nintendo Switch Skin Removal.mp4" type="video/mp4">
                            </video> -->                            
                            <iframe width="90%" height="100%" src="https://www.youtube.com/embed/a3vuafH-Yvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="
                            margin-left:17px;"></iframe>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    $('.installation').click(function(){
        video = '<iframe src="'+ $(this).attr('data-video') +'" width="100%" height="100%" style="border: 0px;" allowfullscreen></iframe>';
        $(this).replaceWith(video);
    });
</script> -->