<div id="services-mobile" style="margin-bottom:35px;">
    <div style="height:640px;position:relative;overflow:hidden;padding-bottom:30px;color:black;">
        <div class="position-absolute background-color-white w-100" style="height: 20px; top: 0px;">
        </div>
        <div class="position-absolute" id="services-container-mobile">
            <h1 class="font-poppins-regular m-0 text-center" id="services-heading-mobile" style="font-size:45px">
                SERVICES</h1>
            <h2 class="font-poppins-regular m-0 text-center text-uppercase" id="services-sub-heading-mobile"
                style="font-size:14px">Our Services for serving you</h2>
            <div class="container py-5" style="padding-left:20px;padding-right:20px;">
                <div class="row">
                    <div class="col-6 px-1" onclick="window.location = 'shipping'">
                        <div class="position-relative w-100 background-color-white shadow-buy-now-button"
                            style="border: 2px black solid; border-radius: 20px; z-index: 10;">
                            <div class="background-color-white position-absolute"
                                style="width: 50px; height: 50px; border-width: 2px; border-radius: 50%; border-style: solid; z-index: 15; left: 50%; transform: translate(-50%,0%); top:-32px;color:black;">
                                <picture>
                                    <source srcset="../images/free_international_shipping.webp" type="image/webp">
                                    <source srcset="../images/free_international_shipping.png" type="image/png">
                                    <img src="../images/free_international_shipping.png" class="position-absolute p-1"                                      style="left: 50%; top: 50%; transform: translate(-50%,-50%); width: 47px;">
                                </picture>
                            </div>
                            <h2 class="font-poppins-bold m-0 text-center text-uppercase"
                                style="font-size: 11px; padding-top: 20px;">Free international shipping</h2>
                            <p class="font-poppins-regular m-0 text-center pt-1 pb-2" style="font-size: 10px;">Serving More than 14 Countries, learn more about it
                                <br>
                                <span style=" font-size: 11px;" class="font-poppins-bold">Here</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-6 px-1" onclick="window.location = '/#designs-mobile'">
                        <div class="position-relative w-100 background-color-yellow shadow-buy-now-button"
                            style="border: 2px black solid; border-radius: 20px; z-index: 10;">
                            <div class="background-color-yellow position-absolute"
                                style="width: 50px; height: 50px; border-width: 2px; border-radius: 50%; border-style: solid; z-index: 15; left: 50%; transform: translate(-50%,0%); top:-32px;color:black;">
                                <picture>
                                    <source srcset="../images/uniquely_designs.webp" type="image/webp">
                                    <source srcset="../images/uniquely_designs.png" type="image/png">
                                    <img src="../images/uniquely_designs.png" class=" position-absolute p-1"
                                    style="left: 50%; top: 50%; transform: translate(-50%,-50%); width: 47px;">
                                </picture>
                            </div>
                            <a class="d-flex font-poppins-bold m-0 text-center text-uppercase text-decoration-none" style="font-size: 11px; padding-top: 20px; color: black;"
                            href="/#designs-mobile">Uniquely Curated Designs</a>
                            <a class="d-flex font-poppins-regular m-0 text-center pt-1 text-decoration-none"
                            style="font-size: 10px; color: black;" href="/#designs-mobile">The Uniquest Designs you Can Find, See them over</a>
                            <a style=" font-size: 11px; color: black;"                             class="d-flex font-poppins-bold d-flex m-0 text-center pb-2 justify-content-center text-decoration-none" href="/#designs-mobile">Here</a>
                        </div>
                        <div class="position-relative">
                            <div class="w-100 shadow-buy-now-button position-absolute"              style="border-radius: 20px ; background-color: #ff0000; bottom: -20px; border: 3px transparent solid;  border-top: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; padding-top: 50px;">
                            <h3 class="font-poppins-regular m-0 text-center" style="font-size: 11px;">Offer Ends in <span class="font-poppins-bold" id="counter-2-mobile">07:09</span>
                            </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:65px">
                    <div class="col-6 px-1" onclick="window.location = '../products/designed-by-you'">
                        <div class="position-relative w-100 background-color-white shadow-buy-now-button"     style="border: 2px black solid; border-radius: 20px; z-index: 10;">
                            <div class="background-color-white position-absolute"                            style="width: 50px; height: 50px; border-width: 2px; border-radius: 50%; border-style: solid; z-index: 15; left: 50%; transform: translate(-50%,0%); top:-32px;color:black;">
                                <picture>
                                    <source srcset="../images/ondemand_print.webp" type="image/webp">
                                    <source srcset="../images/ondemand_print.png" type="image/png">
                                    <img src="../images/ondemand_print.png" class="position-absolute p-1"
                                    style="left: 50%; top: 50%; transform: translate(-50%,-50%); width: 47px;">
                                </picture>
                            </div>
                            <h2 class="font-poppins-bold m-0 text-center text-uppercase"                    style="font-size: 11px; padding-top: 20px;">On - Demand <br> Printing</h2>
                            <p class="font-poppins-regular m-0 text-center pt-1 pb-2" style="font-size: 10px;">Figured out your Identity <br>Print it Over<br>                               <span style=" font-size: 11px;"                                 class="font-poppins-bold">Here</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-6 px-1" onclick="window.location = 'returns'">
                        <div class="position-relative w-100 background-color-white shadow-buy-now-button"
                            style="border: 2px black solid; border-radius: 20px; z-index: 10;">
                            <div class="background-color-white position-absolute"
                                style="width: 50px; height: 50px; border-width: 2px; border-radius: 50%; border-style: solid; z-index: 15; left: 50%; transform: translate(-50%,0%); top:-32px;color:black;">
                                <picture>
                                    <source srcset="../images/30_day_return.webp" type="image/webp">
                                    <source srcset="../images/30_day_return.png" type="image/png">
                                    <img src="../images/30_day_return.png" class="position-absolute p-1"       style="left: 50%; top: 50%; transform: translate(-50%,-50%); width: 38px;">
                                </picture>
                            </div>
                            <h2 class="font-poppins-bold m-0 text-center text-uppercase"
                                style="font-size: 11px; padding-top: 20px;">30-day refund <br>policy</h2>
                            <p class="font-poppins-regular m-0 text-center pt-1 pb-2" style="font-size: 10px;">The Skins Arrived Damaged? <br>Learn What to Do<br>
                                <span style=" font-size: 11px;"                           class="font-poppins-bold">Here</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:53px;">
                    <div class="col-6 px-1" onclick="window.location.href = 'javascript:void(Tawk_API.toggle())'">
                        <div class="position-relative w-100 background-color-white shadow-buy-now-button"
                        style="border: 2px black solid; border-radius: 20px; z-index: 10;">
                            <div class="background-color-white position-absolute"
                            style="width: 50px; height: 50px; border-width: 2px; border-radius: 50%; border-style: solid; z-index: 15; left: 50%; transform: translate(-50%,0%); top:-32px;color:black;">
                                <picture>
                                    <source srcset="../images/live_chat.webp" type="image/webp">
                                    <source srcset="../images/live_chat.png" type="image/png">
                                    <img src="../images/live_chat.png" class="position-absolute p-1"
                                    style="left: 50%; top: 50%; transform: translate(-50%,-50%); width: 47px;">
                                </picture>
                            </div>
                            <h2 class="font-poppins-bold m-0 text-center text-uppercase"
                                style="font-size: 11px; padding-top: 20px;">24/7 Live Chat<br>Customer Support
                            </h2>
                            <p class="font-poppins-regular m-0 text-center pt-1 pb-2" style="font-size: 10px;">Have Some Doubts? <br>Solve them<br>
                                <span style=" font-size: 11px;"                          class="font-poppins-bold">Here</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-6 px-1">
                        <div class="position-relative w-100 background-color-white shadow-buy-now-button"
                        style="border: 2px black solid; border-radius: 20px; z-index: 10;">
                            <div class="background-color-white position-absolute"                              style="width: 50px; height: 50px; border-width: 2px; border-radius: 50%; border-style: solid; z-index: 15; left: 50%; transform: translate(-50%,0%); top:-32px;color:black;">
                                <picture>
                                    <source srcset="../images/secure_payments.webp" type="image/webp">
                                    <source srcset="../images/secure_payments.png" type="image/png">
                                    <img src="../images/secure_payments.png" class=" position-absolute p-1"     style="left: 50%; top: 50%; transform: translate(-50%,-50%); width: 47px;">
                                </picture>
                            </div>
                            <h2 class="font-poppins-bold m-0 text-center text-uppercase"
                                style="font-size: 11px; padding-top: 20px;">Secure Payments<br>SSL Certified
                            </h2>
                            <p class="font-poppins-regular m-0 text-center pt-1 pb-2" style="font-size: 10px;">Worried About Hackers?<br>Check our Security Certificate<br>
                                <span style=" font-size: 11px;" class="font-poppins-bold">Here</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>