<!-- products -->
<div id="products" style="overflow: hidden;">
    <h2 class="font-poppins-boldm-0 text-center text-uppercase d-flex justify-content-center pt-2" style="font-size: 50px; line-height: 80px;">products</h2>
    <h4 class="font-poppins-regular m-0 text-center text-uppercase" style="font-size:107px; opacity: 0.13;line-height:0px;margin-top:-10px !important;" id="counter-4-mobile">10:00</h4>
    <h4 class="font-poppins-regular m-0 text-center text-uppercase" style="font-size:22px;margin-top:-7px !important;">what are skins for?</h4>            
    <div style="width:100%; height: 1850px;margin: 0 auto;top:10px" class="position-relative">
        <div class="position-absolute cursor-pointer" style="z-index: 15;width:100%;">
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/xbox one controller.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-controller'">
                            <img src="../images/xbox one controller.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-31px;width:100%;">XBOX ONE<br>CONTROLLER</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:40px;width:60% !important;margin-left:30px;" href="design-page?productName=xbox-one-controller">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/xbox one s controller.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-s-controller'">
                            <img src="../images/xbox one s controller.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-24px;width:100%;">XBOX ONE S<br>CONTROLLER</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:30px;width:60% !important;margin-left:28px;" href="design-page?productName=xbox-one-s-controller">View Now</a>                                                
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;margin-top:10px;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/xbox one x controller.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-x-controller'">
                            <img src="../images/xbox one x controller.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-31px;width:100%;">XBOX ONE X<br>CONTROLLER</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:40px;width:60% !important;margin-left:30px;" href="design-page?productName=xbox-one-x-controller">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/xbox one elite controller.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-elite-controller'">
                            <img src="../images/xbox one elite controller.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-30px;width:100%;">XBOX ONE Elite<br>CONTROLLER</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:40px;width:60% !important;margin-left:28px;" href="design-page?productName=xbox-one-elite-controller">View Now</a>                                                
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;margin-top:10px;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/XBOX One Elite Wireless.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-elite-wireless-controller'">
                            <img src="../images/XBOX One Elite Wireless.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size:13px; bottom:-33px;width:100%;">XBOX ONE ELITE<br>Wireless CONTROLLER</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:45px;width:60% !important;margin-left:30px;" href="design-page?productName=xbox-one-elite-wireless-controller">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/xbox one console.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-console'">
                            <img src="../images/xbox one console.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-33px;width:100%;">XBOX ONE<br>console</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:44px;width:60% !important;margin-left:28px;" href="design-page?productName=xbox-one-console">View Now</a>                                                
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;margin-top:10px;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/xbox one s console.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-s-console'">
                            <img src="../images/xbox one s console.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size:13px; bottom:-33px;width:100%;">XBOX ONE S<br>Console</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:45px;width:60% !important;margin-left:30px;" href="design-page?productName=xbox-one-s-console">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/xbox one x console.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-x-console'">
                            <img src="../images/xbox one x console.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-33px;width:100%;">XBOX ONE x<br>console</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:44px;width:60% !important;margin-left:28px;" href="design-page?productName=xbox-one-x-console">View Now</a>                                                
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;margin-top:10px;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/xbox one bundle.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-bundle'">
                            <img src="../images/xbox one bundle.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size:13px; bottom:-33px;width:100%;">XBOX ONE<br>Bundle</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:45px;width:60% !important;margin-left:30px;" href="design-page?productName=xbox-one-bundle">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/xbox one s bundle.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-s-bundle'">
                            <img src="../images/xbox one s bundle.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-33px;width:100%;">XBOX ONE s<br>bundle</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:44px;width:60% !important;margin-left:28px;" href="design-page?productName=xbox-one-s-bundle">View Now</a>                                                
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;margin-top:10px;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/xbox one x bundle.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-x-bundle'">
                            <img src="../images/xbox one x bundle.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size:13px; bottom:-33px;width:100%;">XBOX ONE X<br>Bundle</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:45px;width:60% !important;margin-left:30px;" href="design-page?productName=xbox-one-x-bundle">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/pscontroller.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=ps4-controller'">
                            <img src="../images/pscontroller.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-33px;width:100%;">PS4<br>Controller</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:44px;width:60% !important;margin-left:28px;" href="design-page?productName=ps4-controller">View Now</a>                                                
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;margin-top:10px;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/ps4console.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=ps4-console'">
                            <img src="../images/ps4console.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size:13px; bottom:-33px;width:100%;">PS4<br>Console</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:45px;width:60% !important;margin-left:30px;" href="design-page?productName=ps4-console">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/ps4slim.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=ps4-slim-console'">
                            <img src="../images/ps4slim.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-33px;width:100%;">PS4 Slim<br>Console</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:44px;width:60% !important;margin-left:28px;" href="design-page?productName=ps4-slim-console">View Now</a>                                                
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;margin-top:10px;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/ps4pro.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=xbox-one-bundle'" onclick="window.location = 'products/design-page?productName=ps4-pro-console'">
                            <img src="../images/ps4pro.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size:13px; bottom:-33px;width:100%;">PS4 Pro<br>Console</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:45px;width:60% !important;margin-left:30px;" href="design-page?productName=ps4-pro-console">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/ps4bundle.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=ps4-bundle'">
                            <img src="../images/ps4bundle.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-33px;width:100%;">PS4<br>Bundle</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:44px;width:60% !important;margin-left:28px;" href="design-page?productName=ps4-bundle">View Now</a>                                                
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 d-flex justify-content-center align-items-center">
                <div class="row" style="height:190px;width:100%;display:flex;justify-content:center;margin-top:10px;">
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:98px;z-index: 10;"></div>
                            <img src="../images/ps4slimbundle.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=ps4-slim-bundle'">
                            <img src="../images/ps4slimbundle.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size:13px; bottom:-33px;width:100%;">PS4 Slim<br>Bundle</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:45px;width:60% !important;margin-left:30px;" href="design-page?productName=ps4-slim-bundle">View Now</a>                                                
                    </div>
                    <div class="col-5 px-1">
                        <div class="position-relative d-flex justify-content-center align-items-center">
                            <div class="position-absolute bg-white shadow-buy-now-button-1 h-center" style="width:68%; border-radius: 10px; top:21px;height:96px;z-index: 10;"></div>
                            <img src="../images/ps4probundle.png" class="position-absolute cursor-pointer" style="z-index: 15;height:96px;" onclick="window.location = 'products/design-page?productName=ps4-pro-bundle'">
                            <img src="../images/ps4probundle.png" style="z-index: 15;visibility: hidden;">
                            <h3 class="font-poppins-regular m-0 text-center text-uppercase position-absolute" style="font-size: 14px; bottom:-33px;width:100%;">PS4 Pro<br>Bundle</h3>                                    
                        </div> 
                        <a class="font-poppins-bold text-uppercase w-100 d-flex justify-content-center align-items-center" style="font-size:13px;border-radius:10px;padding-top:5px; padding-bottom:5px;color:black;border:1px black solid;top:44px;width:60% !important;margin-left:28px;" href="design-page?productName=ps4-pro-bundle">View Now</a>                                                
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>